button{
    padding: 6px 15px;
    border: none;
    outline: none;
}
.topic{
    position: relative;
    padding: 20px 20px 20px 30px;
}
.topic button{
    background-color:#FF9500 ;
    color: white;
    /* width: 150px; */
    text-align: center;

}

.topic::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    background-color: #FF9500;
    height: 100%;
}