@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply text-4xl;
    font-weight: bold;
  }
  h2 {
    @apply text-2xl;
    font-weight: bold;
  }
  h3 {
    @apply text-lg;
    font-weight: bold;
  }
  h4 {
    @apply text-base;
    font-weight: bold;
  }
  a {
    @apply text-blue-600 underline;
  }
  *{
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', Verdana, 'raleway','poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body{
    background-color: #F7F7F8;
  }
p{
  font-size: 18px;
}