.grades{
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.035);   
    text-align: center;
}
.grades button{
    border-radius: 2px;
    background-color: #292f36;
    color: white;
    transition: background-color 0.2s ease-in, border 0.3s ease-in-out;
}
.grades button:hover{
    border: 1px solid #292f36;
    background-color: transparent;
    color: #292f36;
}