.logo{
    width: 150px;
}
.logo.mobile{
    width: 3rem;
}
.link{
    text-decoration: none;
    color: #292f36 ;
    transition: all .2s ease-in;
    font-weight: 600;
}

div .link:hover{    
    color: #ff9900;

}
.middle .link{
    padding-right: 15px ;
}
/* hamburger links */
.ham .link{    
    display: block;
    font-weight: 600;
}
.ham .link:hover{    
    color: inherit;
}
/* learning nav */
.learning .link{
    color: white;
    padding: 0 20px;
}
